<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- Redirect http-cache to a user-writable path since the default is root-owned -->
    <add key="http-cache" value="/tmp/nuget-http-cache" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
